.search-box {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: white;
  gap: 0.5rem;
}

.search-box-disabled {
  background-color: #f6f6f7;
}

.search-box-buttons {
  gap: 0.5rem;
}

.search-input,
.search-input:focus,
.search-input:active,
.search-input:hover,
.search-input:disabled {
  border: none !important;
  background: none !important;
  outline: 0px !important;
  box-shadow: none !important;
  font-size: 1.3rem;
  padding: 0;
  -webkit-appearance: none;
  width: auto !important;
  min-width: 0 !important;
  text-align: center;
}
